<h1>Hello <%= current_user.first_name %><%= current_user.last_name %>!</h1>

<% if !current_user.games.empty? %>
<table id="game_table">
  <tr>
    <th>Title</th>
    <th>Console</th>
    <th>Genre</th>
    <th>Status</th>
  </tr>
  <% @games.each do |game|%>
  <tr>
    <td><%= game.title %> - <a href="/games/<%= game.id %>/edit"><input type="submit" name="edit" value="Edit"></td> 
    <td><%= game.console %></td>
    <td><%= game.genre %></td>
    <td><%= game.status %></td>
  </tr>
  <% end %>
</table>

<% else %>
<h3>You haven't logged any games!</h3> 
<h3>I doubt you aren't playing any games or don't have some kind of a backlog. Why don't you add game to keep track of?</h3>
<% end %>

<table>
  <tr>
    <td><a href="/games/new"><input type="submit" name="add_game" value="Add Game" ></a></td>
    <td><form action="/logout" method="post">
      <input type="submit" name="logout" value="Log Out" >
      </form>
    </td>
  </tr>
</table>

