<h3>You just created/updated - <%=@game.title%></h3>

<table id="game_table">
  <tr>
    <th>Title</th>
    <th>Console</th>
    <th>Genre</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= @game.title %></td> 
    <td><%= @game.console %></td>
    <td><%= @game.genre %></td>
    <td><%= @game.status %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <td><a href="/games"><input type="submit" name="home" value="Home" ></a></td>
    <td><a href="/games/<%= @game.id %>/edit"><input type="submit" name="edit" value="Edit"></a></td>
    <td><form action="/games/<%= @game.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="submit" value="Delete">
      </form>
    </td>
    <td><form action="/logout" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout" name="submit">
      </form>
    </td>
  </tr>
</table>